.grid-row {
	display: block;
}

.grid-row.margin {
	margin-top: .5em;
}

.grid-row:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.grid-row [class*="span_"] {
	float: left;
	display: block;
	margin-left: 2%;
	min-height: 1px;
}
.grid-row .right[class*="span_"] {
	float: right;
}

.grid-row [class*="span_"]:first-child,
.grid-row [class*="span_"].nomargin,
.grid-row .span_12 {margin-left: 0%;}

.grid-row .span_1 { width: 6.5%; }
.grid-row .span_2 { width: 15.0%; }
.grid-row .span_3 { width: 23.5%; }
.grid-row .span_4 { width: 32.0%; }
.grid-row .span_5 { width: 40.5%; }
.grid-row .span_6 { width: 49.0%; }
.grid-row .span_7 { width: 57.5%; }
.grid-row .span_8 { width: 66.0%; }
.grid-row .span_9 { width: 74.5%; }
.grid-row .span_10 { width: 83.0%; }
.grid-row .span_11 { width: 91.5%; }
.grid-row .span_12 { width: 100%; }

@media all and (max-width: 600px) {
	.grid-row:not(.nobr) {margin-bottom: 0;}
	.grid-row .br[class*="span_"],
	.grid-row:not(.nobr)>[class*="span_"] {width: 100%;margin: .5em 0;}
	.grid-row:not(.nobr)>[class*="span_"]>[class*="span_"] {margin: .1em 0;}
}
